
body  {
 margin-left: 8px;
 background: #DFDFE2;
 overflow: hidden;
 border: 1px solid #3F3F3D;
} /* background: url('../img/checkered.jpg') repeat; */

.Header{ width: 100%; }
.Header .dropdown-menu{ width: 300px; }
.HeaderMenu  { background: #40403D; padding: 4px; opacity: 0.85; }
.HeaderMenu:hover { opacity: 0.95; }
.HeaderMenu .td.left { width: 33%; }
.HeaderMenu .td.center { width: 33%; }
.Header .header-search-input:placeholder{ color:hsla(0,0%,100%,.75); }
.header-search{ background: #50504D; display: table-cell; font-weight: 400; }
.header-search-input,.header-search-input:focus{ border: 0; box-shadow: none; }
.header-search-input:focus{ display: none!important; }
.header-search-wrapper{ }
.topRow {  }
.topRow.table {
 border-spacing: 0;
 width: 100%;
}
.table {
 display: table; 
 border-collapse: separate;
 border-spacing: 0.75em;
}
.tr { display: table-row; text-align: right; }
.td { display: table-cell; text-align: right; }
.td.left     { text-align: left; min-width: 570px; }
.td.center  { text-align: center; width: 150px; }
.td.right    { text-align: right; width: 400px; }


.view       { background: url('../img/icons/view.png');    background-position: center; width: 34px; height: 30px; }
.fork       { background: url('../img/icons/fork.png');    background-position: center; width: 34px; height: 30px; }
.awesome { background: url('../img/icons/awesome.png'); background-position: center; width: 34px; height: 30px; }
.save       { background: url('../img/icons/save.png');    background-position: center; width: 34px; height: 30px; }
.no-save { background: url('../img/icons/save.png');    background-position: center; width: 34px; height: 30px; opacity: 0.5; }
.config   { background: url('../img/icons/config.png');  background-position: center; width: 34px; height: 30px; }
.profile { background: url('../img/icons/profile.png'); background-position: center; width: 34px; height: 30px; }
.draw       { background: url('../img/icons/draw.png');    background-position: center; width: 34px; height: 30px; }
.notes     { background: url('../img/icons/notes.png');   background-position: center; width: 34px; height: 30px; }
.chat       { background: url('../img/icons/chat.png');    background-position: center; width: 34px; height: 30px; }
.email     { background: url('../img/icons/email.png');   background-position: center; width: 34px; height: 30px; }
.exit       { background: url('../img/icons/exit.png');    background-position: center; width: 34px; height: 30px; }

#folderMenu { width:19vw; }
#dataBrowser, #editor, iframe   { left: 20vw; width: 80vw; }
.formArea { left: 20vw; max-width: 80vw;}

span { width: 100%; }

input  {
	font-size: 12px;
	font-weight: bold;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 2px;
	width: 500px;
	color: #D0D0D0;
	background: #AFA9A9;
	border-radius: 10px;
	border-style: 1px #090707 solid;
}

input.short{ width: 15em; }

.iconbutton .octicon{ margin-right: 0; }

.file-navigation:after,.file-navigation:before{ content: ""; display: table; }
.file-navigation:after{ clear: both; }
.file-navigation.in-mid-page{ margin-top: 15px; }
.file-navigation .select-menu-button .css-truncate-target{ max-width: 200px; }
.file-navigation .branch-select-menu{ margin-bottom: 10px; margin-right: 6px; }
.file-navigation .new-pull-request-btn{ float: left; }
.file-navigation .breadcrumb{ float: left; font-size: 16px; line-height: 26px; margin-left: 5px; margin-top:0; }
.file-navigation+.breadcrumb{ margin-bottom: 10px; }
.file-navigation .clone-options{ padding: 8px 16px 16px; }
.file-navigation-options{ float: right; margin-left: 3px; }
.file-navigation-options.active .dropdown-menu-content{ display: block; }
.file-navigation-options .dropdown-menu{ padding: 15px; width: 360px; }
.file-navigation-options .dropdown-divider{ margin: 15px -15px; }
.file-navigation-option{ display: inline-block; margin-left: 3px; position: relative; }
.file-navigation-option .select-menu{ display: inline-block; margin-bottom: 0; margin-right: 0; vertical-align: middle; }
.file-navigation-option .select-menu-button .octicon:only-child{ margin-left:2px; }
.file-navigation-option .zeroclipboard-button{ padding-right: 8px; }
.file-navigation-option .input-group{ width: 290px; }
.file-navigation-option .input-group .form-control{ border-radius: 0; height: 28px; margin-left: -1px; margin-right: -1px; min-height: 0; width: calc(100% + 2px); }
.file-navigation-option .input-group .select-menu-button{ position: relative; z-index:2; }

.logo-uploader-container{ display: block; }
.logo-upload{ display: inline-block; position: relative; }
.logo-upload a.delete,.logo-upload span.delete{ display: none; left: 88px; padding: 8px 10px; position: absolute; }
.logo-upload a.delete:hover,.logo-upload span.delete:hover{ color: #cb2431; }
.logo-upload-container{ display: inline-block; }
.logo-upload-container .logo-upload-label .manual-file-chooser{ cursor: pointer; height: 34px; left: 0; margin-left: 0; padding: 0; top: 0; width: 130px; }
.logo-upload-container .upload-state{ padding:10px 0; }
.logo-upload-container .upload-state p{ color:#586069; font-size:12px; margin:0; }
.logo-box{ background: #eee; border: 1px solid #ccc; border-radius: 3px; display: inline-block; float: left; height: 120px; width: 120px; }
.logo-box img{ border-radius: 3px; display: none; height: 118px; width: 118px; }
.logo-placeholder{color:#586069;text-align: center; text-shadow: 0 1px 0 #fff; }
.logo-placeholder p{ font-size: 14px; margin:0; }
.has-uploaded-logo .logo-placeholder,.has-uploaded-logo .or{ display: none; }
.has-uploaded-logo .logo-box img,.has-uploaded-logo:hover a.delete,.has-uploaded-logo:hover span.delete{ display:block; }

.tree-browser{ border-bottom:1px solid #cacaca; border-left: 0; border-right: 0; margin: 0; width: 100%; }
.tree-browser td{ background: #f8f8f8; border-bottom: 1px solid #eee; color: #484848; padding: 7px 3px; vertical-align: middle; white-space: nowrap; }
.tree-browser td.icon{ padding-left: 10px; padding-right: 2px; width: 17px; }
.tree-browser td:first-child{ border-left: 1px solid #cacaca; }
.tree-browser td:last-child{ border-right: 1px solid #cacaca; }
.tree-browser td a.message{ color:#484848; }
.tree-browser td span.ref{ color:#aaa; }
.tree-browser img{ vertical-align: text-bottom; }
.tree-browser tbody tr:last-child td{ border-bottom: 0; }
.tree-browser .history{ float: right; padding-right: 5px; }
.tree-browser .octicon-chevron-right{ color: transparent; }
.tree-browser tr.navigation-focus td,.tree-browser tr[aria-selected=true] td{ background: #fff; }
.tree-browser tr.navigation-focus td .octicon-chevron-right,.tree-browser tr[aria-selected=true] td .octicon-chevron-right{ color:#0366d6; }
.tree-browser .octicon-file-directory{ color:rgba(3,102,214,.75); }
.tree-browser .octicon-file-submodule{ color:#3cbf5e; }
.tree-browser .octicon-file{ color:#586069; }
.tree-browser .content{ max-width:220px; }
.tree-browser .message{ max-width:420px; }
.tree-browser .css-truncate-target{ max-width:100%; }
.tree-browser-result .css-truncate-target{ max-width:870px; }
.tree-browser-result mark{ background: initial; color: #0366d6; font-weight: 600; }
.tree-finder-input,.tree-finder-input:focus{ appearance: none; border: 0; box-shadow: none; font-size: inherit; line-height: inherit; margin-left: 5px; outline: none; padding-left: 0; }
.tree-finder .no-results{ display: none; }
.tree-finder .no-results th{ text-align: center; }
.tree-finder tr td.icon{ cursor: pointer; }
.tree-finder .tree-browser{ border-top: 1px solid #cacaca; }

.toolbar-item{ background: none; border: 0; color: #586069; display: block; float: left; padding:4px 5px; }
.toolbar-item.dropdown,.toolbar-item.select-menu{ padding:0; }
.toolbar-item .select-menu-modal{ margin-top:2px; }
.toolbar-item .select-menu-item{ padding-left:8px; }
.toolbar-item .menu-target{ background:none; border: 0; color: #586069; display: block; padding: 4px 5px; }
.toolbar-item .menu-target:hover,.toolbar-item:hover{ color:#0366d6}
.toolbar-item .menu-target:focus,.toolbar-item:focus{ color:#0366d6; outline:none}
.toolbar-item .dropdown-caret{ margin-left: -3px; }
.toolbar-item:disabled{ color: #ddd;}
.toolbar-item .octicon-link,.toolbar-item .octicon-tasklist{ margin-left: -3px; }
.toolbar-item .octicon-mention{ margin-left:-4px; }
.toolbar-item .octicon-bold{ margin-left:-2px; }
.toolbar-group{ display: inline-block; margin-left: 20px; }
.toolbar-group:first-child{ margin-left:0; }

.position-relative { width: 100%; height: 30px; }

#folderMenu,.rightCol  { height: 90vh; }
.formArea { top: 8vh; max-height: 89vh; }
.edOnly #editor { top: 8vh; height: 89vh; }
.both   #editor { top: 53vh; height: 44vh; }
.dataOnly #dataBrowser { top: 8vh; height: 89vh; }
.both   #dataBrowser { top: 8vh; height: 43vh; }

#manageDisabled, #editDisabled { color: #888; cursor: text; }
#saveEdits, #manageResource { display: none; }

#folderMenu *, #opt *, .formArea * {
     font-family: sans-serif;
     font-size: 100%
}
#folderMenu.large *, #opt.large *, .formArea.large * {
     font-size: 1.1em;
}
#folderMenu.small *, #opt.small *, .formArea.small * {
     font-size: 0.8em;
}
select { padding: 0.25em; }
#optionsManager select, #filterManager select {
    overflow: hidden;
}
#optionsManager td {
    padding-left: 2em;
    vertical-align: top;
}
label {
  display: inline-block;
  text-align: right;
  width: 8em;
}
em {
    font-weight: bold;
}
.cancel-icon {
    text-align: right;
    margin-right: -1em;
    margin-top: -1em;
}
.right-justify {
    text-align: right;
}
span.right-justify {
    display: inline-block;
}
.formArea { 
    text-align: right;
    display: none;
    line-height: 2em;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 5px;
    padding: 1em;
    background: rgba(125,180,200,2);
    border: 1px solid rgba(50,75,90,10);
    height: auto;
}
.formButtons {
    margin-top: 1em;
    text-align: center;
}
.formButtons button {
    margin-right: 1em;
}
.flex-item { flex: 0 1 auto; }
.flex-container { display: flex; height: 100%;}
#editor, #dataBrowser, iframe,.formArea { position: absolute; }
iframe {  border: none; }

/* VIEW STATES */
.both #editor, .both #dataBrowser {  display: block; }
.edOnly #dataBrowser, .dataOnly #editor { display: none; }
.edOnly #editor, .dataOnly #dataBrowser { display: block; }
/* END VIEWSTATES */

#folderMenu {
    overflow-y: auto;
    overflow-x: hidden;
}
#folderMenu li {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.currentThing {
    display: inline-block;
    margin-right: 2em;
}
#opt {
    color: #888;
    text-align: right;
}

/* BUTTON 
*/
button {
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
}
#folderMenu button {
    overflow: hidden;
    padding: 0.25em;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    border: none;
    background: transparent;
}
/* END OF BUTTON */

.fileName {
    padding-left: 0.5em !important;
}
.docIcon {
    width: 1em;
    cursor: text !important;
    background: transparent;
}
.docIcon.canControl {
    cursor: pointer !important;
    background: #99dddd !important;
    padding: 0 !important;
}
img {
    height: 1em !important;
    width: 1em !impoortant;
    margin-right: 0.1em;
}

a img.icon {
    height: 1em !important;
    width: 1em !important;
    text-decoration: none;
}
.xIcon {
    font-weight: 900;
    color: red;
    border: none;
    margin-left: 0;
}
#folderMenu .xIcon {
    color: green;
}

ul {display: table; width: 100%; }
li { display: table-row; width: 100%; }
li button { display: table-cell; width: 18vw; text-align: left; }
li button.xIcon { width: 2vw; }
ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
ul,li {
padding-left: 0;
list-style: none;
}
#currentFolder {
    font-weight: bold;
}
