<!DOCTYPE html><html><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width"><title>
    Kzone file editor
</title>

<!--
  libs : rdflib,solid-auth-client,vue,ace
  app  : soliside, zeditor, solid-auth-simple
  
  Notes:
  - Identity – WebID
  - Identification – WebID-Profile Doc
  - Authentication – WebID-TLS (TLS) and/or WebID-OIDC (OpenID Connect)
  - Authorization – WebACLs (Attribute-based Access Controls informed by rules expressed in RDF)
  - Storage – actual data persistence (via PUT, PATCH etc,) to a Pod or other Data Spaces that support relevant open standards
-->

<link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://assets-cdn.github.com/favicon.ico">
<!-- pending -->                                        <!-- script src="./js/solid-file-client.bundle.js" -->
<script src="./js/rdflib.js"></script>                  <!-- "https://solid.github.io/releases/rdflib.js/rdflib-0.12.2.min.js" -->
<script src="./js/solid-auth-client.bundle.js"></script><!-- "https://solid.github.io/solid-auth-client/dist/solid-auth-client.bundle.js" -->
<script src="./js/vue.min.js"></script>                 <!-- "https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js" -->
<script src="./js/ace/ace.js"></script>                 <!-- "https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js" -->
<script src="./js/solid-auth-simple.js"></script>
<script src="./editor/zeditor.js"></script>

<link rel="stylesheet" href="./css/main.css">

</head>

<body>

<!--
 <div class="github-link">
   <a class="header-logo-invertocat" href="https://github.com/kustomzone">
    <svg height="32" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
   </a>
 </div>
-->

<!-- options
 <div class="d-flex">
  <ul>
   <li class="dropdown">
    <details class="details-overlay details-reset d-flex px-2 flex-items-center"> 
     <a role="menuitem" class="dropdown-item" href="/new" data-ga-click="Header, create new repository"> New repo </a>
      <a role="menuitem" class="dropdown-item" href="/new/import" data-ga-click="Header, import a repository"> Import repo </a>
    </details>
   </li>

   <li class="dropdown">
    <details class="details-overlay details-reset d-flex pl-2 flex-items-center">
      <summary class="HeaderNavlink name mt-1" aria-label="View profile and more" data-ga-click="Header, show menu, icon:avatar" aria-haspopup="menu">
        <img alt="@kustomzone" class="avatar" src="https://avatars1.githubusercontent.com/u/2006565" height="20" width="20">
        <span class="dropdown-caret"></span>
      </summary>
    </details>
   </li>
  </ul>
 </div>
-->

<div id="app">

<header class="Header" role="header"><!-- Header -->

<div class="HeaderMenu">

<div id="opt" class="topRow table" v-bind:class="fontSize">
 <span class="tr">
  <span class="td left">
    <input type="text" class="header-search" v-model="currentThing.url" v-on:change="view.refresh(currentThing.url)">
    <button v-on:click="view.refresh(currentThing.url)">go</button>
  </span>
  <span class="td right">
    <button type="submit" class="view" title="toggle view" v-on:click="fileDisplay.togglePanes()"></button>
    <button type="submit" class="fork" title="github repo" method="get" target="_blank" onclick="location.href='https://github.com/kustomzone/solid-editor';"></button>
    <button type="submit" class="awesome" title="awesome solid" method="get" target="_blank" onclick="location.href='https://github.com/kustomzone/awesome-solid';"></button>
    <button type="submit" class="save" title="save edits" id="saveEdits" v-on:click="fileDisplay.saveEdits()"></button>
    <button class="no-save" title="save disabled" id="editDisabled"></button>
    <button type="submit" class="config" title="editor config" id="optionsButton" v-on:click="view.show('optionsManager')"></button>
    <button type="submit" class="profile" title="view profile" v-on:click="view.refresh('https://dredd.solid.community/profile/card#me')"></button>
    <button type="submit" class="draw"  title="draw tool" v-on:click="view.refresh('https://dredd.solid.community/public/draw.html')"></button>
    <button type="submit" class="notes" title="notes app" v-on:click="view.refresh('https://dredd.solid.community/public/Vortex/')"></button>
    <button type="submit" class="chat"  title="chat app" v-on:click="view.refresh('https://dredd.solid.community/public/Solidity/')"></button>
    <button type="submit" class="email" title="solid inbox" v-on:click="view.refresh('https://dredd.solid.community/inbox/')"></button>
    <button type="submit" class="exit"  title="logout page" v-on:click="view.refresh('https://dredd.solid.community/index.html')"></button>
  </span>
 </span>
</div><!-- opt -->

</div><!-- Headermenu -->

</header>

<div id="folderMenu" v-bind:class="fontSize">
       <button v-on:click="manageResource(folder)" class="docIcon" v-bind:class="canControl()">
        <img src="./img/icons/folder.png">
        </button>
    <button class="fileName" v-on:click="get(folder)">
        <span id="currentFolder">{{folder.name}}</span>
    </button>
    <hr>
    <ul>
        <li v-for="subFolder in folder.folders">
            <button class="docIcon">
                <img src="./img/icons/folder.png" />
            </button>
            <button class="fileName" v-on:click="get(subFolder)">
                {{subFolder.name}}
            </button>
        </li>
    </ul>
    <hr>
    <ul>
        <li v-for="f in folder.files">
            <button v-on:click="rm(f)" class="docIcon" v-bind:class="canControl()">
                <img src="./img/icons/document.png">
            </button>
            <button class="fileName" v-on:click.right="download(f)" v-on:click="get(f)" v-bind:title="f.label+' '+f.type">
                {{f.label}}
            </button>
        </li>
    </ul>
</div><!-- folderMenu -->

<div id="fileManager" class="formArea">
    <div class="cancel-icon">
        <button v-on:click="view.hide('fileManager')" 
           class="xIcon" title="Cancel"> X 
        </button>
    </div>
    <div>File : <em>{{file.url}}</em></div>
    <hr>
    <button v-on:click="rm(file)">Delete file</button>
    <hr>
    <div>
        <label>new folder :</label>
        <input v-model="newThing.parentFolder"
               placeholder=" (optional) path relative to original file"
        />
    </div>
    <div>
        <label>new name :</label>
        <input v-model="newThing.name"
               placeholder=" name without path or extension"
        />
    </div>
    <p class="right-justify">
        <button v-on:click="cpFile()">Copy file</button>
    </p>
    <hr>
</div><!-- fileManager -->

<div id="folderManager" class="formArea">
    <div class="cancel-icon">
        <button v-on:click="view.hide('folderManager')" 
         class="xIcon" title="Cancel"> X </button>
    </div>
    <div>Folder : <em>{{folder.url}}</em></div>
    <hr>
<button v-on:click="rm(folder)">delete this folder</button>
    <hr>
<div>
<label>new name</label>
   <input v-model="newThing.name" placeholder=" (without path)">
</div>
<p class="right-justify"><button v-on:click="addThing('file')">create new file in this folder</button></p>
<p class="right-justify"><button v-on:click="addThing('folder')">create new folder in this folder</button></p>
    <hr>
</div><!-- folderManager -->

<div id="optionsManager" class="formArea">
    <div class="cancel-icon">
        <button v-on:click="view.hide('optionsManager')" 
           class="xIcon" title="Cancel"> X 
        </button>
    </div>

<div class="table">
    <div class="tr">
        <span class="td">logged in as</span>
        <span class="td left">
            {{webId}}
            <button v-on:click="setLogState()">{{logState}}</button>
            <button id="profileButton" v-on:click="getProfile()">edit profile</button>
        </span>
    </div>
    <div class="tr">
        <span class="td">home URL</span>
        <span class="td"><input v-model="homeUrl">
        <button v-on:click="get(homeUrl)">go home</button>
        </span>
    </div>
</div><!-- table -->
<div class="table"><div class="tr center">
<span class="td">
    <div>Key Bindings</div>
    <select v-model="editKeys" v-on:change="setEditKeys()" size="2">
        <option>emacs</option>
        <option>vim</option>
    </select>
</span>
<span class="td">
    <div>Syntax Highlighting</div>
    <select v-model="editTheme" v-on:change="setEditTheme()" size="2">
        <option>light theme</option>
        <option>dark theme</option>
    </select>
</span>

</div></div>
<hr>
     <button v-on:click="storePrefs()">save preferences</button>
     <a type="button" target="_blank" href="mailto:i7redd@gmail.com">send feedback</a>

</div><!-- optionsManager -->

</div><!-- app -->

<!--
   FILE DISPLAY & EDITOR & DATA-BROWSER
-->
<div id="fileDisplay" class="rightCol flex-item" v-bind:class="displayState">
    <div id="editor" style="font-family: Monaco, monospace !important"></div>
    <iframe id="dataBrowser" v-bind:src="file.srcUrl"> </iframe>
</div><!-- fileDisplay -->

<script src="./js/solside.js"></script>

</body>
</html>
